.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
}

.header {
  z-index: 1;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  font-family: "Noto Serif", "Time New Roman", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Time New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  align-items: last baseline;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__image {
  z-index: -1;
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-color: #0a2750;
  background-position: center;
}

.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 580px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin: 24px 0 0 0;
}

.recipes__videos {
  margin: 80px 0 0 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px 0 0 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
  margin: 0;
}

.reservation {
  padding: 100px 0 120px;
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
  font-family: "inter", arial, sans-serif;
  font-weight: normal;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 19px 20px;
  margin-top: 8px;
}

.form__input::placeholder {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  font-family: "inter", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.form__button {
  width: 100%;
  border: none;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  height: 60px;
  border-radius: 4px;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.form__checkbox {
  height: 20px;
  width: 20px;
}

.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  padding: 100px 0 100px;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu__title {
  text-align: center;
  max-width: 780px;
  margin: 0 auto 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  max-width: 780px;
  margin: 0 auto 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 100px;
  margin: 0;
  padding: 0;
}
